<p style="color: green"><%= notice %></p>

<h1 class="fs-8 border-bottom-2 border-black border-style-groove">Recipes</h1>

<div id="recipes">
  <ul class="m-4">
    <% @recipes.each do |recipe| %>
      <li id="<%= dom_id recipe %>" class="list-inside list-circle">
        <%= link_to recipe.name, recipe %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "New recipe", new_recipe_path %>

<%= link_to "Home", root_path %>
