<div id="<%= dom_id amount %>">
  <p>
    <strong>Name:</strong>
    <%= amount.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= amount.type %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= amount.count %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= amount.volume %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= amount.weight %>
  </p>

  <p>
    <strong>Excess:</strong>
    <%= amount.excess %>
  </p>

</div>
