<%= form_with(model: ingredient) do |form| %>
  <% if ingredient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h2>

      <ul>
        <% ingredient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Name:", style: "display: block" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :type, "Type:" %>
    <%= select_tag :type,
        options_for_select([ "Count", "Weight", "Volume", "Excess" ]),
        prompt: "Select a measurement type:",
        title: "Select a measurement type:",
        required: true %>
  </div>

  <div class="mt-4">
    <%= form.submit %>
  </div>
<% end %>
